---
import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro';
import VersionSelect from './VersionSelect.astro';
---

<div class="roomful-toolbar-controls">
  <VersionSelect />
  <ThemeSelect />
</div>
