.git
.github
.husky
.pnpm-store
.turbo
coverage
node_modules
test-results

apps
benchmarks
docs
examples

packages/*
!packages/relay
!packages/relay/**

packages/relay/.turbo
packages/relay/coverage
packages/relay/dist
packages/relay/node_modules
