<footer class="footer">
  <div class="shell footer__inner">
    <a class="brand" href="/">
      <img src="/roomful-mark.svg" alt="" width="26" height="26" />
      Roomful
    </a>
    <nav class="footer__links">
      <a href="https://docs.roomful.dev">Documentation</a>
      <a href="https://demo.roomful.dev">Demo</a>
      <a href="https://docs.roomful.dev/playground/">Playground</a>
      <a href="https://github.com/erayates/roomful">GitHub</a>
      <a href="https://www.npmjs.com/package/@roomful/core">npm</a>
      <a href="https://github.com/erayates/roomful/issues">Issues</a>
    </nav>
    <span class="footer__meta">© 2026 Roomful · MIT</span>
  </div>
</footer>
