<nav class="nav" data-nav>
  <div class="shell nav__inner">
    <a class="brand" href="/">
      <img src="/roomful-mark.svg" alt="" width="30" height="30" />
      Roomful
    </a>
    <div class="nav__links">
      <a href="#primitives">Primitives</a>
      <a href="https://docs.roomful.dev">Docs</a>
      <a href="https://demo.roomful.dev">Demo</a>
      <a href="https://github.com/erayates/roomful">GitHub</a>
      <a class="btn btn-primary nav__cta" href="https://docs.roomful.dev" data-magnetic>Get started</a>
    </div>
  </div>
</nav>
